Repository XenonPK/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: chart\:\ ha-apps, chart\:\ home-assistant, chart\:\ media-apps, chart\:\ nfs-mount, chart\:\ pm-apps, chart\:\ prowlarr, chart\:\ radarr, chart\:\ sonarr, chart\:\ readarr

.github/labeler.yml:

'chart\:\ ha-apps':
- changed-files:
  - any-glob-to-any-file: charts/ha-apps/**

'chart\:\ home-assistant':
- changed-files:
  - any-glob-to-any-file: charts/home-assistant/**

'chart\:\ media-apps':
- changed-files:
  - any-glob-to-any-file: charts/media-apps/**

'chart\:\ nfs-mount':
- changed-files:
  - any-glob-to-any-file: charts/nfs-mount/**

'chart\:\ pm-apps':
- changed-files:
  - any-glob-to-any-file: charts/pm-apps/**

'chart\:\ prowlarr':
- changed-files:
  - any-glob-to-any-file: charts/prowlarr/**

'chart\:\ radarr':
- changed-files:
  - any-glob-to-any-file: charts/radarr/**

'chart\:\ sonarr':
- changed-files:
  - any-glob-to-any-file: charts/sonarr/**

'chart\:\ readarr':
- changed-files:
  - any-glob-to-any-file: charts/readarr/**

chore(deps): update ghcr.io/onedr0p/radarr docker tag to v5.8.3.8933
  README.md
  charts/radarr/Chart.yaml
  charts/radarr/README.md
Labels: chart\:\ radarr

chore(deps): update helm release readarr to v1.11.0
  charts/media-apps/Chart.yaml
  charts/media-apps/README.md
  charts/media-apps/values.yaml
Labels: chart\:\ media-apps

chore(deps): update database dependencies
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Labels: chart\:\ home-assistant

chore(deps): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.21.2.4649
  README.md
  charts/prowlarr/Chart.yaml
  charts/prowlarr/README.md
Labels: chart\:\ prowlarr

chore(deps): update ghcr.io/onedr0p/readarr-develop docker tag to v0.3.32.2587
  charts/readarr/Chart.yaml
  charts/readarr/README.md
Labels: chart\:\ readarr

chore(deps): update ghcr.io/onedr0p/sonarr docker tag to v4.0.8.1874
  README.md
  charts/sonarr/Chart.yaml
  charts/sonarr/README.md
Labels: chart\:\ sonarr
